<h1>Browser Pest by luminous</h1>
<h2>Loading game... <span id="prog"></span></h2>
<script>
function downloadGame() {
 var url = "<%= asset_path "canvasgame.js" %>";
 var prog = document.getElementById("prog");
 var req = new XMLHttpRequest();

 req.addEventListener("progress", updateProgress, false);
 req.addEventListener("load", loadGame, false);
 req.addEventListener("error", downloadGame, false);
 req.addEventListener("abort", downloadGame, false);

 req.open("get", url, true);
 req.send();
}

function updateProgress (evt) {
 if (evt.lengthComputable) {
     prog.textContent = Math.round(evt.loaded / evt.total * 10000)/100 + "%";
 } else {
     var progMB = evt.loaded / 1024;
     if (window.navigator.userAgent.indexOf("Trident/") >= 0 || window.navigator.userAgent.indexOf("MSIE ") >= 0 || window.chrome) {
	 progMB /= 1024;
     }
     prog.textContent = Math.round(progMB) + "MB";
 }
}

var js = "";

function loadGame(evt) {
 var url = "<%= asset_path "game.css" %>";
 var req = new XMLHttpRequest();

 req.addEventListener("load", startGame, false);
 req.addEventListener("error", downloadGame, false);
 req.addEventListener("abort", downloadGame, false);

 req.open("get", url, true);
 req.send();
 js = evt.target.responseText;
}

function startGame(evt){
	var style = document.createElement('style');
	style.textContent = evt.target.responseText;
	document.head.appendChild(style);
    document.body.innerHTML="";
	eval(js);
}
downloadGame();
</script>
<!--script src="<%= asset_path "game.js" %>"></script>
