<h1>Thank you for answering!</h1>
<img height="500" style="margin-left:40%;" src="<%= asset_path "logo.png" %>"></img>
<script src="<%= asset_path "stat.js" %>"></script>
<div style="clear:both"></div>
<h1 style="float:right;margin-right:10%;">- Luminous team</h1>
