<% events = AnalyticsEvent.all %>
<% screens = events.to_a.map.group_by{|e| e.clientID}.collect{|key, val|val}.collect{|e| e.uniq{|el|el.key}}.collect{|el| el.collect{|ele| [ele.key, ele.value]}.to_h} %>
<% screens.each do |v| %> 
  <%= "#{v['width']};#{v['height']};#{v['colorDepth']}" %>
<% end %>
