* {
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html, body {
    min-height: 100%;
    width: 100%;
    font-size: 100%;
    padding: 0;
    overflow: hidden;
}
canvas {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
}
.speech{
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.90);
    font-family: Trebuchet MS;
    font-size: 2.5vmin;
    border: 1px solid #666;
    border-radius: 5px;
}
.speechContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

