<!DOCTYPE html>
<html>
<head>
  <title>Browser Pest by luminous</title>
  <meta charset="UTF-8">
  <!--%= stylesheet_link_tag 'application', media: 'all' %-->
  <%= csrf_meta_tags %>
  <style>
    * {
      box-sizing: border-box;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
